POSTGRES_DB=webhooks
POSTGRES_USER=webhook
POSTGRES_PASSWORD=generated-by-make-setup
MASTER_KEY_BASE64=generated-by-make-setup
ADMIN_TOKEN=generated-by-make-setup
DEMO_WEBHOOK_SECRET=generated-by-make-setup
ALLOW_PRIVATE_TARGETS=true
WORKER_CONCURRENCY=4
LEASE_DURATION=5s
POLL_INTERVAL=200ms
